:root {
    --color-background-primary: #222;
    --color-text-primary: WhiteSmoke;
    --color-accent-a: DarkCyan;
    --color-accent-b: Crimson;
}

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--color-background-primary);
    color: var(--color-text-primary);
    font-family: Verdana, Geneva, sans-serif;
}

section {
    margin-top: 10vh;
}

button {
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    border: 1px solid var(--color-accent-b);
    padding: 8px;
    margin: 8px;
}

button:focus, a:focus {
    outline: none;
    opacity: 60%;
}

textarea {
    width: 100%;
    resize: vertical;
    background-color: inherit;
    color: inherit;
    border: 1px solid var(--color-accent-a);
    opacity: 80%;
    font-family: inherit;
    padding: 5px;
}

textarea:focus {
    outline: none;
    border-color: var(--color-text-primary);
    opacity: 100%;
}

.landing-title {
    top: 20%;
    text-align: center;
}

.landing-title h1 {
    font-size: 4em;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    position: relative;
}

.left-aligned {
    left: 0;
}

#navigation-bar {
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 20vw;
    background-color: DarkCyan;
    transition: 1s;
}

#navigation-bar a {
    padding: 2vh;
    text-decoration: none;
    text-align: center;
    font-size: 1.5vw;
}

#navigation-bar a:link, a:visited {
    color: WhiteSmoke;
}

#navigation-bar a:hover {
    opacity: 60%;
}

#navigation-bar a:active {
    color: WhiteSmoke;
}

#nav-close {
    border: none;
    background-color: transparent;
    color: WhiteSmoke;
    text-align: right;
    font-size: 3vw;
    padding-right: 10px;
}

#navigation-tab {
    display: inline-block;
    padding: 1vw;
    width: 3vw;
    align-content: center;
    transition: 1s;
}

.nav-line {
    width: 2vw;
    height: 0.1vw;
    background-color: var(--color-text-primary);
    margin: 0.3vw 0;
}

.title-image {
    max-width: 100%;
}

.image-gallery-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.image-gallery-row img:hover {
    opacity: 80%;
}

.image-gallery-column {
    flex: 25%;
    flex-direction: column;
    min-width: 50px;
    max-width: 50%;
    padding: 2px;
}

.image-gallery-column img {
    width: 100%;
    height: auto;
}

p.comment {
    text-align: left;
    font-size: 0.8em;
    border-top: 1px solid var(--color-accent-a);
    padding: 10px 0;
}
